@{
    ViewBag.Title = "README.txt";
}
@section featured {
    <section class="featured">
        <hr />
        <h4>Some overall info about my project implementation - </h4>
        <p> - Used the built in Array.Sort() for final output</p>
        <p> - Assumed that operations on strings should be case sensitive.</p>
        <p> - Left in the punctuation</p>
        <p> - Looked up the library needed for SHA-384, which had most of the implementation code; left the salt unspecified</p>

    </section>
}

